h1 {
       border-style: solid;
       border-width: 10px;
       height: 120px;
       width: 98%;
       display: block;
       text-align: center;
       color: #00BA00  ;
       border-color: black;
       float: center;
       font-family: Verdana;
       font-size: 40px;
       font-weight: bold;
            }


      .main-body{

border-style: solid; 
border-color: black;
border-width: 10px;
height: 1200px;
width: 68%;
text-align: center;
display: inline-block;
float: right;
font-size: 20px;
font-family: Tahoma;
color: black  ;
}

            .img img {

      width: 28%;
      display: inline;
      width: 29%;
      display:inline;
      float: left;
      padding-top: 10px;
    
}

    
}
